docs/
planning/
.github/
resources/
node_modules/
service_account.json
.env
.env.local
verifiable-docs/node_modules
.DS_Store

# macOS
.DS_Store

# Next.js
.next/*
out/
.vercel
*.tsbuildinfo
.next/app-build-manifest.json
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/edge-server-development/0.pack.gz
.next/cache/webpack/edge-server-development/index.pack.gz
.next/cache/webpack/edge-server-development/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/prerender-manifest.json
.next/server/_error.js
.next/server/app-paths-manifest.json
.next/server/app/_not-found/page.js
.next/server/app/api/health/route.js
.next/server/app/api/health/route_client-reference-manifest.js
.next/server/app/api/regions/\[docId\]/\[field\]/route.js
.next/server/app/api/regions/\[docId\]/\[field\]/route_client-reference-manifest.js
.next/server/app/api/upload/route.js
.next/server/app/page.js
.next/server/edge-runtime-webpack.js
.next/server/middleware-manifest.json
.next/server/middleware.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/vendor-chunks/@supabase.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/jose.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/set-cookie-parser.js
.next/server/vendor-chunks/tr46.js
.next/server/vendor-chunks/webidl-conversions.js
.next/server/vendor-chunks/whatwg-url.js
.next/server/webpack-runtime.js
.next/static/chunks/app/api/health/route.js
.next/static/chunks/app/api/regions/\[docId\]/\[field\]/route.js
.next/static/chunks/main-app.js
.next/static/chunks/webpack.js
.next/static/webpack/72acaced53ad47a8.webpack.hot-update.json
.next/static/webpack/webpack.72acaced53ad47a8.hot-update.js
.next/trace
.next/types/app/api/health/route.ts
.next/types/app/api/regions/\[docId\]/\[field\]/route.ts
.next/types/app/layout.ts
.next/types/routes.d.ts
.next/types/validator.ts
